
# the return code of a function as follow:
# <0 (negative value) - it is evaluated to false
# >0 (positive value) - it is evaluated to true
# =0 (zero) - it is evaluated as exit (stop execution of configuration file) 
# However, if return code is 0, the next action after function() is not executed. It can be used only of positive or negative response code.

####### Routing Logic ########

/* Main SIP request routing logic
 * - processing of any incoming SIP request starts with this route
 * - note: this is the same as route { ... } */
request_route {

#!ifdef WITH_EXEC
	# run script
	exec_msg("/etc/kamailio/execshow.sh >>/tmp/aw123.out");
#!endif

#!ifdef WITH_DEBUG
	# debug info
	xlog("L_INFO","=UNFILTERED=>: $rm ($fu ($si:$sp) to $tu, $ci)\n");
#!endif

#!ifdef WITH_DMQ
    # handle DMQ messages
	if ($rm == "KDMQ" && $rp == DMQ_PORT) {
        dmq_handle_message();
        exit;
    }
#!endif

#!ifdef TLS_ONLY
	# only accept TLS connections
	if(proto != TLS) {
		xlog("L_INFO", "rejecting non TLS (encrypted) $ru from $si\n");
		sl_send_reply("403", "Accepting TLS Only");
		exit;
	}
#!endif

	# initial tests
	route(FIRST);
	route(INFO);

	# per request initial checks
	route(REQINIT);

	# emergency routing
	route(EHANDLING);
	
#!ifdef WITH_SPEEDDIAL
	# search for short dialing - * plus 4-digit extension
	if (uri==myself) {
		if(uri=~"sip:[2,5-9][0-9][0-9]@.*")
			xlog("L_ERROR", "Doing speeddial lookup for $rU\n");
			sd_lookup("speed_dial");
	}
#!endif

	# NAT detection
	route(NATDETECT);

	# CANCEL processing
	if (is_method("CANCEL")) {
		if (t_check_trans()) {
			route(RELAY);
		}
		exit;
	}
	
	# handle retransmissions
	if (!is_method("ACK")) {
		if(t_precheck_trans()) {
			t_check_trans();
			exit;
		}
		t_check_trans();
	}

	# handle requests within SIP dialogs
	route(WITHINDLG);

	### authentication
    route(AUTH);

	# handle registrations
	route(REGISTRAR);
	
	if ($rU==$null) {
		# request with no Username in RURI
		xlog("L_INFO", "Rejecting, request with no Username in RURI\n");
		sl_send_reply("484","Address Incomplete");
		exit;
	}

	# record routing for dialog forming requests (in case they are routed)
	# - remove preloaded route headers
	remove_hf("Route");
	if (is_method("INVITE|SUBSCRIBE")) {
		record_route();
	}

	# account only INVITEs
	if (is_method("INVITE")) {
		setflag(FLT_ACC); # do accounting
	}
	
#!ifdef WITH_xxxxxxxSBC
	if (is_method("INVITE|SUBSCRIBE")) {
		switch ($proto) {
			case "TLS":
				record_route_preset("EXTERNAL_NAME:SIPS_PORT;transport=tls", "EXTERNAL_IP:5061");
				break;
			case "TCP":
				record_route_preset("EXTERNAL_NAME:SIP_PORT;transport=tcp", "EXTERNAL_IP:5060");
				break;
			case "UDP":
				record_route_preset("EXTERNAL_NAME:SIP_PORT;transport=udp", "EXTERNAL_IP:5060");
				break;
		}
	}
#!endif

	# account only INVITEs
	if (is_method("INVITE")) {
		setflag(FLT_ACC); # do accounting
	}

#!ifdef WITH_PABX
    #### PABX (private) internal routing
    xlog("L_INFO","Processing [$tU] Internal...");
	route(PABX);
#!endif

#!ifdef WITH_MICROSOFT_TEAMS
    #### Microsoft Teams routing
	### xlog("L_INFO","Processing [$tU] Microsoft Teams...");
	### route(TEAMS);
#!endif
	
#!ifdef WITH_TRUNK
	#### Public / PSTN / routing
	xlog("L_INFO","Processing [$tU] Trunk...");
	route(TRUNK);
#!endif

	# user location service
	## route(LOCATION);

	#### catch - should never get here
	xlog("L_ERROR","Can't deal with number $rU from $si:$sp - sending error");
	sl_send_reply("501","Fuck off");
    exit;
}

# Create Contact Record
route[CONTACT] {
	if ($(ct{tobody.user})!=$null) {
		$var(ctuser) = $(ct{tobody.user});
		$var(cthost) = $si;
		$var(ctport) = $sp;
		xlog("L_INFO","Contact: <sip:$var(ctuser)@$var(cthost):$var(ctport)");
		#remove_hf("Contact");
		#insert_hf("Contact: <sip:$var(ctuser)@EXTERNAL_NAME:$var(ctport)\r\n");
	}
	return ;
}

######################################################################
# Notify someone that a emergency number has been dialed - via uac
######################################################################
route[ENOTIFY] {
    xlog("Emergency Notify Route");
    $uac_req(method)="MESSAGE";
	$uac_req(ruri)="sip:TRUNK_HOSTP:TRUNK_PORT";
    $uac_req(furi)="sip:Emergency Alert";
    $uac_req(turi)="sip:thisphone";
    $uac_req(callid)=$(mb{s.md5});
    $uac_req(hdrs)="Subject: Somers Emergency Alert\r\n";
    $uac_req(hdrs)=$uac_req(hdrs) + "Content-Type: text/plain\r\n";
    $uac_req(body)="Emergency call from " + $fU + " on IP Address " + $si + " to " + $rU + " (Emergency Number)";
    $uac_req(evroute)=1;
	
	// Permit authentication
	t_on_failure("MANAGE_FAILURE");

    // Send UAC Request
	xlog("L_INFO", "Sending $uac_req(method) request to $uac_req(ruri)");
	uac_req_send();
	
    return ;
}

route[EHANDLING] {
	# Australian Emergency Numbers (Victoria)
	# 000 (Emergency), 112 (Emergency) , 132 500 (SES), 131 444 (Police Assistance)
	# 131 114 (Lifeline)

    if(is_method("INVITE") && ($tU == "000" or $tU == "112" or $tU == "999000")) {
        #Matches any INVITEs with the Request URI to Address as 000, 112 or 116
        xlog("L_CRITICAL","Emergency call from $fU to $rU (Emergency number) CSeq is $cs ");
		route(ENOTIFY);
		## if it s our test number, don't route, notify is enough
		if ($tU != "999000") {
			$ru = "sip:" + "+61000" + "@" + "EXTERNAL_NAME";
			$var(disgroup) = 99;
			route(DISPATCH);
			exit;
		}
		exit;
    }
    return ;
}

## Private Routing (Internal)
route[PABX] {

	# testing
	route(CONTACT);
	
    if (($tU=~"^\+61395107066|\b(2[0-9][0-9]{1})\b")) {

        ## Albert Park Extension
        xlog("L_INFO","Routing call $tU to Albert Park");
        # ????
		## $tU = "PABX1_NUMBER";
		$var(disgroup) = 22;
		route(DISPATCH);
		exit;
    };
    if (($tU=~"^\+61359835502|\b(5[0-9][0-9]{1})\b")) {
		## Somers Camp Extension
        xlog("L_INFO","Routing call $tU to Somers");
        # ???
		## $ru= "PABX2_NUMBER";
		$var(disgroup) = 55;
		route(DISPATCH);
		exit;
    };
    xlog("L_INFO","Call to $tU cannot be an internal call");
}

## MS Team Routing
route[TEAMS] {
#!ifdef WITH_MICROSOFT_TEAMS
    ## Send to VM: "sip:user@yourdomain.com;opaque=app:voicemail"
    # MSTeam needs the correct contact header, other you'll get forbidden
	route(CONTACT);
	$var(disgroup) = 44;
	route(DISPATCH);
#!endif
	return;
}

# Caller NAT detection
route[NATDETECT] {
#!ifdef WITH_NAT
	if (nat_uac_test("19")) {
		# xlog("L_INFO","***NAT**** detected for $rm ($fu ($si:$sp) to $tu)");
		if (is_method("REGISTER")) {
			fix_nated_register();
		} else {
			if(is_first_hop()) {
				set_contact_alias();
			}
		}
		setflag(FLT_NATS);
	}
#!endif
	return;
}

# Handle SIP registrations
route[REGISTRAR] {
	if (!is_method("REGISTER")) return;

	if(isflagset(FLT_NATS)) {
		setbflag(FLB_NATB);
#!ifdef WITH_NATSIPPING
		# do SIP NAT pinging
		setbflag(FLB_NATSIPPING);
#!endif
	}
	if (!save("location")) {
		sl_reply_error();
	}
	exit;
}

# IP authorization and user authentication
route[AUTH] {
#!ifdef WITH_AUTH
#!ifdef WITH_IPAUTH
	if((!is_method("REGISTER")) && allow_source_address()) {
		# source IP allowed
		return;
	}
#!endif

	if (is_method("REGISTER") || from_uri==myself) {
		# authenticate requests
		if (!auth_check("$fd", "subscriber", "1")) {
			auth_challenge("$fd", "0");
			exit;
		}
		# user authenticated - remove auth header
		if(!is_method("REGISTER|PUBLISH"))
			consume_credentials();
	}
	# if caller is not local subscriber, then check if it calls
	# a local destination, otherwise deny, not an open relay here
	if (from_uri!=myself && uri!=myself) {
		sl_send_reply("403","Not relaying");
		exit;
	}

#!else
	# authentication not enabled - do not relay at all to foreign networks
	if(uri!=myself) {
		sl_send_reply("403","Not relaying");
		exit;
	}

#!endif
	return;
}

route[SIPOUT] {
    if (uri==myself) return ;
    append_hf("P-hint: outbound\r\n");
    route(RELAY);
    exit;
}

# RTPProxy control and signaling updates for NAT traversal
route[NATMANAGE] {
#!ifdef WITH_NAT
	if (is_request()) {
		if(has_totag()) {
			if(check_route_param("nat=yes")) {
				setbflag(FLB_NATB);
			}
		}
	}
	if (!(isflagset(FLT_NATS) || isbflagset(FLB_NATB))) return;

	if(nat_uac_test("8")) {
		rtpengine_manage("replace-origin replace-session-connection");
	} else {
		rtpengine_manage("trust-address replace-origin replace-session-connection");
	}

	if (is_request()) {
		if (!has_totag()) {
			if(t_is_branch_route()) {
				add_rr_param(";nat=yes");
			}
		}
	}
	if (is_reply()) {
		if(isbflagset(FLB_NATB)) {
			if(is_first_hop())
				set_contact_alias();
		}
	}

	if(isbflagset(FLB_NATB)) {
		# no connect message in a dialog involving NAT traversal
		if (is_request()) {
			if(has_totag()) {
				set_forward_no_connect();
			}
		}
	}
#!endif
	return;
}

# URI update for dialog requests
route[DLGURI] {
#!ifdef WITH_NAT
	if(!isdsturiset()) {
		handle_ruri_alias();
	}
#!endif
	return;
}

# Handle requests within SIP dialogs
route[WITHINDLG] {
	if (!has_totag()) return;

	# sequential request withing a dialog should
	# take the path determined by record-routing
	if (loose_route()) {
		route(DLGURI);
		if (is_method("BYE")) {
			setflag(FLT_ACC); # do accounting ...
			setflag(FLT_ACCFAILED); # ... even if the transaction fails
		} else if ( is_method("ACK") ) {
			# ACK is forwarded statelessly
			route(NATMANAGE);
		} else if ( is_method("NOTIFY") ) {
			# Add Record-Route for in-dialog NOTIFY as per RFC 6665.
			record_route();
		}
		route(RELAY);
		exit;
	}

	if (is_method("SUBSCRIBE") && uri == myself) {
		# in-dialog subscribe requests
		### route(PRESENCE);
		exit;
	}
	if ( is_method("ACK") ) {
		if ( t_check_trans() ) {
			# no loose-route, but stateful ACK;
			# must be an ACK after a 487
			# or e.g. 404 from upstream server
			route(RELAY);
			exit;
		} else {
			# ACK without matching transaction ... ignore and discard
			exit;
		}
	}
	sl_send_reply("404","Not here");
	exit;
}

route[TRUNK] {
#!ifdef WITH_TRUNK
	# trunk calls need to be in E.164 format (+country etc...)
	
	# checking using regex
	if (!($rU =~ "^\+[0-9]+$")) {
		xlog("L_ERROR", "TRUNK: $ru not an E.164 number (regex), reject - $rm from $fu to $du (IP:$si:$sp)\n");
		sl_send_reply("484", "Not an E164 number");
		exit;
	}

	# checking using siputils
	if (!is_tel_number("$rU")) { 
		xlog("L_ERROR", "TRUNK: $rU is not a telephone number (siputils/is_tel_number), reject - $rm from $fu to $du (IP:$si:$sp)\n");
		sl_send_reply("484", "Not an E164 number");
		exit;
	}	
	
	# we only accept Australian numbers
	if (!($tU =~ "^\+61")) {
		xlog("L_ERROR", "TRUNK: $rU is not an Australian number, reject - $rm from $fu to $du (IP:$si:$sp)\n");
		sl_send_reply("484", "International calls ($$) are not allowed");
		exit;
	}

	# sorry no Australian premium services
	if (($tU =~ "^\+61190")) {
		xlog("L_ERROR", "TRUNK: $rU is a premium number, reject - $rm from $fu to $du (IP:$si:$sp)\n");
		sl_send_reply("484", "Premium calls ($$) are not allowed");
		exit;
	}

	$var(disgroup) = 99;
	route(CONTACT);
	route(DISPATCH);
#!endif
	exit;
}

######################################################################
# Send a messages (SMS) -  via uac module
######################################################################
route["SEND_MESSAGE"] {
    xlog("Emergency Notify Route");
    $uac_req(method)="MESSAGE";
    $uac_req(ruri)="sip:TRUNK_HOSTP:TRUNK_PORT";
    $uac_req(furi)="sip:Emergency Alert";
    $uac_req(turi)="sip:thisphone";
    $uac_req(callid)=$(mb{s.md5});
    $uac_req(hdrs)="Subject: Somers Message Alert\r\n";
    $uac_req(hdrs)=$uac_req(hdrs) + "Content-Type: text/plain\r\n";
    // $uac_req(body)="Emergency call from " + $fU + " on IP Address " + $si + " to " + $rU + " (Emergency Number)";
	$uac_req(body)="A Message";
    $uac_req(evroute)=1;

	// Permit authentication
	t_on_failure("MANAGE_FAILURE");

    // Send UAC Request
    xlog("L_INFO", "Sending $uac_req(method) request to $uac_req(ruri)");
	uac_req_send();

	return ;
}

event_route[uac:reply] {
    xlog("received UAC reply code is: $uac_req(evcode)\n");
}

#!ifdef WITH_DISPATCHER
route[DISPATCH] {
	# destination sorted by priority attribute value (serial forking ordered by priority).
	# ds_select_domain vs ds_select_dst 
	# ds_select_dst (updates $du) vs ds_domain_dst (updates $ru)
	# $du - reference to destination uri, $ru - reference to request's URI (address in the first line of a SIP request)
    if(!ds_select_domain($var(disgroup), "8")) {
        send_reply("404", "No destination");
        exit;
    }
    # Add Route Header
	route(CONTACT);
	## xlog("I_INFO","DISPATCH =======> Sending call $rU [$ua] to $du via $proto");
	xlog("L_INFO","DISPATCH ===> Sending call $rU [$rm] ($fu ($si:$sp) to $du via $proto)");
			
    route(RELAY);
    exit;
}

event_route[dispatcher:dst-up] {
    xlog("L_INFO", "Dispatcher destination <$ru> is UP\n");
}
event_route[dispatcher:dst-down] {
    xlog("L_ERROR", "Dispatcher destination <$ru> is DOWN\n");
}
#!endif

# Wrapper for relaying requests
route[RELAY] {
#!ifdef WITH_NAT
	handle_ruri_alias();
	switch ($rc) {
        case -1:
            xlog("L_ERR", "NAT (ruri_alias) Failed to handle alias of R-URI $ru\n");
            send_reply("400", "Bad request");
            exit;
        case 1:
            # xlog("L_INFO", "NAT (ruri_alias) Routing in-dialog $rm from $fu to $du\n");
            break;
        case 2:
            # xlog("L_INFO", "NAT (ruri_alias) Routing in-dialog $rm from $fu to $ru\n");
            break;
         };
#!endif
	# enable additional event routes for forwarded requests
	# - serial forking, RTP relaying handling, a.s.o.
	if (is_method("INVITE|BYE|SUBSCRIBE|UPDATE")) {
		if(!t_is_set("branch_route")) t_on_branch("MANAGE_BRANCH");
	}
	if (is_method("INVITE|SUBSCRIBE|UPDATE")) {
		if(!t_is_set("onreply_route")) t_on_reply("MANAGE_REPLY");
	}
	if (is_method("INVITE")) {
		if(!t_is_set("failure_route")) t_on_failure("MANAGE_FAILURE");
	}

	xlog("L_INFO", "Attempting relaying for $ru\n");
	if (!t_relay()) {
		sl_reply_error();
	}
	exit;
}

# Manage outgoing branches
branch_route[MANAGE_BRANCH] {
	xdbg("new branch [$T_branch_idx] to $ru\n");
#!ifdef WITH_NAT
	route(NATMANAGE);
#!endif
}

# Manage route failures with MS Teams and others
failure_route[MANAGE_FAILURE] {

    if (t_is_canceled()) exit;

    # info
    xlog("I_INFO","****RELAY FAILURE***** with $T(reply_reason)[$T(reply_code)]");

#!ifdef WITH_TRUNK
    # need to authenticate trunk TODO: check destination IP addresss
    if(t_check_status("401|407")) {
        xlog("L_INFO", "Trying to Authenticate to Trunk $ru with TRUNK_USER...");
        $avp(auser) = "TRUNK_USER";
        $avp(apass) = "TRUNK_PASSWORD";
        uac_auth();
        t_relay();
        exit;
    }
#!endif

#!ifdef WITH_BLOCK3XX
    # block call redirect based on 3xx replies.
    if (t_check_status("3[0-9][0-9]")) {
        t_reply("404","Not found");
        exit;
    }
#!endif

#!ifdef WITH_BLOCK401407
    # block call redirect based on 401, 407 replies.
    if (t_check_status("401|407")) {
        t_reply("404","Not found");
        exit;
    }
#!endif
	exit;
}

route[BLOCKIP] {
#!ifdef WITH_APIBAN
	if (src_ip!=myself) {
		xlog("L_INFO","[R-BLOCKIP:$ci]: blocking $rm from $fu (IP:$si:$sp)\n");
		$sht(ipban=>$si) = 1;
	}
#!endif
	return;
}

### on 

#!ifdef WITH_SIPDEBUG
onsend_route {
	xlog("L_INFO","[ONSEND_ROUTE] SIP DEBUG: \n$snd(buf)\n");
}
onreply_route {
    xlog("L_INFO","[ONREPLY_ROUTE] SIP DEBUG: \n$snd(buf)\n");
}
#!endif

# Manage incoming replies in transaction context
onreply_route[MANAGE_REPLY] {
	xdbg("incoming ROUTE reply\n");
#!ifdef WITH_NAT
	if(status=~"[25][0-9][0-9]") {
		route(NATMANAGE);
	}
#!endif
#!ifdef WITH_NAT
	if (has_body("application/sdp")) {
	    rtpengine_manage();
    }
#!endif
}

#!ifdef WITH_MICROSOFT_TEAMS
# stateful logic - thisw can be permanent - does no harm
event_route[tm:local-request] {
    if(is_method("OPTIONS") && $ru =~ "pstnhub.microsoft.com") {
		## Keepalive need Contact header for Microsoft Teams
		append_hf("Contact: <sip:sbc.lordsomerscamp.org.au:5061;transport=tls>\r\n");
#!ifdef	 WITH_DEBUG
    	xlog("L_INFO", "Responded to OPTIONS keepalive from Microsoft Teams\n");
#!endif
    }
}
#!endif
