
#
# Kamailio TLS Configuration File
# for letsencrypt certificates
#

# Create CA list:
# for f in /etc/ssl/certs/*.pem ; do cat "$f" >> /etc/kamailio/ca_list.pem ; done

[server:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = yes
private_key = /etc/letsencrypt/live/sbc.lordsomerscamp.org.au/privkey.pem
certificate = /etc/letsencrypt/live/sbc.lordsomerscamp.org.au/fullchain.pem
ca_list = /etc/kamailio/ca_list.pem

[client:default]
method = TLSv1.2+
verify_certificate = yes
require_certificate = yes
private_key = /etc/letsencrypt/live/sbc.lordsomerscamp.org.au/privkey.pem
certificate = /etc/letsencrypt/live/sbc.lordsomerscamp.org.au/fullchain.pem
ca_list = /etc/kamailio/ca_list.pem
